# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
# Que 1)

tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
# Que 2)
print(f"first element {tup[0]}")
print(f"middle element {tup[len(tup)//2]}")
print(f"last element {tup[-1]}")

first element 1
middle element 6
last element 10

In [7]:
# Que 3)
print(f"first three element {tup[:3]}")
print(f"last three elements {tup[-3:]}")
print(f"elements from index 2 to 5 {tup[2:6]}")

first three element (1, 2, 3)
last three elements (8, 9, 10)
elements from index 2 to 5 (3, 4, 5, 6)

In [14]:
# Que 4)
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in matrix:
    #for item in row:
        #print(item)
    print(row)

print(f"Element in second row and third coloumn is {matrix[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element in second row and third coloumn is 6

In [16]:
# Que 5)
tup1 = (1,2,3)
tup2 = (4,5,6)
 
tup = tup1 + tup2
tup

(1, 2, 3, 4, 5, 6)

In [19]:
# Que 6)
tup = (1,2,3,4,4,4,4,5,6,6)
print(f"Occurance of 4 : {tup.count(4)}")
print(f"index of first occurance of 6 : {tup.index(6)}")

Occurance of 4 : 4
index of first occurance of 2 : 8

In [20]:
# Que 7)
tup = (1,2,3,4,5)
a,b,c,d,e,=tup
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [23]:
# Que 8)
lst = list(range(1,6))
lst
tup = tuple(lst)
tup

(1, 2, 3, 4, 5)

In [24]:
# Que 9)
tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
    )
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [30]:
# Que 10)
tup = tuple(range(1,6))
print(tup)

lst = list(tup)
lst.append(6)
lst

tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)