# SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
SQLite is self-contained, serverless and zero configuration database engine that is widely used for embedded database system

In [4]:
import sqlite3

In [5]:
# Creating a connection to database

connection = sqlite3.connect('example.db')

In [6]:
# Creating cursor object that iterate through tables and rows

cursorrr=connection.cursor()

In [7]:
# Creating a table in example.db database

cursorrr.execute('''
Create  Table if Not Exists employees(
    id Integer Primary key,                   
    name TExt Not Null,
    age Integer,
    department text
    )

''')   #--> above all are sqlite statements

# Commit the changes 
connection.commit()

In [8]:
# Inserting the data in sqlite table

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('vaibhs',20,'ml Engineer')
''')

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('mark',23,'fullstack Engineer')
''')


cursorrr.execute('''
Insert Into employees(name,age,department)
                values('jonh',25,'data Engineer')
''')

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('peter',22,'ml Engineer')
''')

connection.commit()

In [9]:
# Query the data from table

cursorrr.execute('Select * from employees')
rows=cursorrr.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'vaibhs', 20, 'ml Engineer')
(2, 'mark', 23, 'fullstack Engineer')
(3, 'jonh', 25, 'data Engineer')
(4, 'peter', 22, 'ml Engineer')

In [10]:
# Update the data in the table
cursorrr.execute('''
UPDATE employees
Set age=21
where name='vaibhs'
''')

connection.commit()

In [11]:
cursorrr.execute('Select * from employees')
rows=cursorrr.fetchall()

for row in rows:
    print(row)

(1, 'vaibhs', 21, 'ml Engineer')
(2, 'mark', 23, 'fullstack Engineer')
(3, 'jonh', 25, 'data Engineer')
(4, 'peter', 22, 'ml Engineer')

In [12]:
# Delete data from table
cursorrr.execute('''
Delete from employees
where name='jonh'
''')

connection.commit()

In [13]:
cursorrr.execute('Select * from employees')
rows=cursorrr.fetchall()

for row in rows:
    print(row)

(1, 'vaibhs', 21, 'ml Engineer')
(2, 'mark', 23, 'fullstack Engineer')
(4, 'peter', 22, 'ml Engineer')

In [14]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

# This is used to insert all data at single commit
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [17]:
cursor.execute('Select * from sales')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [18]:
# close the connection 

connection.close()

Now this will shows error because connection is closed

In [19]:
cursor.execute('Select * from sales')
rows=cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.