# SQL and SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases.
SQLite is self-contained, serverless and zero configuration database engine that is widely used for embedded database system

In [4]:
import sqlite3

In [5]:
# Creating a connection to database

connection = sqlite3.connect('example.db')

In [6]:
# Creating cursor object that iterate through tables and rows

cursorrr=connection.cursor()

In [7]:
# Creating a table in example.db database

cursorrr.execute('''
Create  Table if Not Exists employees(
    id Integer Primary key,                   
    name TExt Not Null,
    age Integer,
    department text
    )

''')   #--> above all are sqlite statements

# Commit the changes 
connection.commit()

In [8]:
# Inserting the data in sqlite table

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('vaibhs',20,'ml Engineer')
''')

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('mark',23,'fullstack Engineer')
''')


cursorrr.execute('''
Insert Into employees(name,age,department)
                values('jonh',25,'data Engineer')
''')

cursorrr.execute('''
Insert Into employees(name,age,department)
                values('peter',22,'ml Engineer')
''')

connection.commit()

In [9]:
# Query the data from table

cursorrr.execute('Select * from employees')
rows=cursorrr.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, 'vaibhs', 20, 'ml Engineer')
(2, 'mark', 23, 'fullstack Engineer')
(3, 'jonh', 25, 'data Engineer')
(4, 'peter', 22, 'ml Engineer')