In [1]:
""" 
 Tuples --> Tuples are ordered collection of items that are immutable
 similar to python but their immutability makes them different
 """

In [3]:
# Creating a tuple

tup = (1,2,3,4)
print(tup)
print(type(tup))

(1, 2, 3, 4)
<class 'tuple'>

In [6]:
lst = list()
print(type(lst))
tup = tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [9]:
# a tuple can be converted into list and its vice versa is also possible
num = tuple([1,2,3,4,5])
num
print(type(num))

<class 'tuple'>

In [12]:
num = list((1,2,3,45,))
print(num)
print(type(num))

[1, 2, 3, 45]
<class 'list'>

In [20]:
# Accessing Tuple Elements
num = (1,2,3,4,45,5)
print(num[2])
print(num[-1])
print(num[::-1])
print(num[1::4]) # --> start at index 1 and takes every 4th element

3
5
(5, 45, 4, 3, 2, 1)
(2, 5)

In [24]:
# Tuples operations
tup1 = (7,8,9,6,9,"hello world")

# 1) Concatenation
print(tup1 + num)

# 2) Multiplying tuple by a number 
print(tup1 * 3)

(7, 8, 9, 6, 9, 'hello world', 1, 2, 3, 4, 45, 5)
(7, 8, 9, 6, 9, 'hello world', 7, 8, 9, 6, 9, 'hello world', 7, 8, 9, 6, 9, 'hello world')

In [23]:
#Immutable nature of tuple --> means elements can not be changed once it assigned

In [30]:
# Tuple Methods
# 1) Count --> it measures how many times this number is repeated in tuple
print(tup1.count(9))

# 2) Index --> it returns the index of that element that passed in paranthesis
print(tup1.index(8))

2
1

In [ ]:
# packing and unpacking tuple