In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)

n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [5]:
df.head()

   feature_1  feature_2  target
0   0.914369   2.551302       0
1   2.997345   2.419589       0
2   2.282978   3.815652       0
3   0.493705   1.747250       0
4   1.421400   1.707996       0

In [6]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [7]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [8]:
from sklearn.utils import resample

In [9]:
df_minority_upsampled=resample(df_minority,replace=True,n_samples=900,random_state=42)

In [10]:
df_minority_upsampled

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]

In [14]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [15]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [16]:
df_majority_downsampled=resample(df_majority,replace=False,n_samples=100,random_state=42)

In [17]:
df_majority_downsampled

     feature_1  feature_2  target
70    2.468439   3.720920       0
827   3.089165   1.535101       0
231   2.753869   1.030202       0
588   2.588686   1.295280       0
39    2.283627   3.012868       0
..         ...        ...     ...
398   1.831574   2.553775       0
76    1.596634   2.081491       0
196   1.730707   2.611238       0
631   1.704171   2.671673       0
751   1.446596   2.804438       0

[100 rows x 3 columns]

In [18]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority])

In [21]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64