# Pandas

Powerful data manipulation library

In [2]:
import pandas as pd

In [3]:
# Series --> it is one dimensional array like object
# that can hold any data type. it is similar to coloumn
data = [1,2,3,4,5,6,7]
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [4]:
# Creating series from dictionary
data={'a':1,'b':2,'c':3}

pd.Series(data)

a    1
b    2
c    3
dtype: int64

In [5]:
data=[12,20,30]
index=['a','b','c']
pd.Series(data,index=index)

a    12
b    20
c    30
dtype: int64

In [7]:
# Data frame --> it has multiple rows and coloumns

# Creating dataframes from dictionary
data={
    'name':['a','b','c'],
    'age':[24,31,20],
    'Grades':[20,30,40]
}

df=pd.DataFrame(data)
print(df)

  name  age  Grades
0    a   24      20
1    b   31      30
2    c   20      40

In [8]:
# Creating a dataframes from list of dictionaries

data =[
    {'name':'a','age':21,'city':'pune'},
    {'name':'b','age':22,'city':'nagar'},
    {'name':'c','age':24,'city':'pune'},
    {'name':'d','age':23,'city':'loanavla'},
    {'name':'e','age':27,'city':'pune'},
    {'name':'f','age':26,'city':'mumbai'}
]

df=pd.DataFrame(data)
print(df)

  name  age      city
0    a   21      pune
1    b   22     nagar
2    c   24      pune
3    d   23  loanavla
4    e   27      pune
5    f   26    mumbai

In [ ]:
pd.read_csv(sales_data.csv)