# EDA

EDA is all about understaing about datasets

EDA With Red Wine Data

Data Set Information:

The two datasets are related to red and white variants of the Portuguese "Vinho Verde" wine.  Due to privacy and logistic issues, only physicochemical (inputs) and sensory (the output) variables are available (e.g. there is no data about grape types, wine brand, wine selling price, etc.).

These datasets can be viewed as classification or regression tasks. The classes are ordered and not balanced (e.g. there are many more normal wines than excellent or poor ones). Outlier detection algorithms could be used to detect the few excellent or poor wines. Also, we are not sure if all input variables are relevant. So it could be interesting to test feature selection methods.


Attribute Information:

Input variables (based on physicochemical tests):
- 1 - fixed acidity
- 2 - volatile acidity
- 3 - citric acid
- 4 - residual sugar
- 5 - chlorides
- 6 - free sulfur dioxide
- 7 - total sulfur dioxide
- 8 - density
- 9 - pH
- 10 - sulphates
- 11 - alcohol

In [1]:
import pandas as pd
df=pd.read_csv('winequality-red.csv')

In [2]:
df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 1 columns):
 #   Column                                                                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                                                                   --------------  -----
 0   fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"  1599 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

In [4]:
df.describe()

       fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
count                                                1599
unique                                               1359
top     7.2;0.36;0.46;2.1;0.074;24;44;0.99534;3.4;0.85...
freq                                                    4

In [5]:
# Missing values in the datasets
df.isnull().sum()

fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    0
dtype: int64

In [6]:
# duplicated records
df.duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596     True
1597    False
1598    False
Length: 1599, dtype: bool

In [7]:
df[df.duplicated()]

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
4      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
11    7.5;0.5;0.36;6.1;0.071;17;102;0.9978;3.35;0.8;...
27    7.9;0.43;0.21;1.6;0.106;10;37;0.9966;3.17;0.91...
40    7.3;0.45;0.36;5.9;0.074;12;87;0.9978;3.33;0.83...
65    7.2;0.725;0.05;4.65;0.086;4;11;0.9962;3.41;0.3...
...                                                 ...
1563  7.2;0.695;0.13;2;0.076;12;20;0.99546;3.29;0.54...
1564  7.2;0.695;0.13;2;0.076;12;20;0.99546;3.29;0.54...
1567  7.2;0.695;0.13;2;0.076;12;20;0.99546;3.29;0.54...
1581  6.2;0.56;0.09;1.7;0.053;24;32;0.99402;3.54;0.6...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...

[240 rows x 1 columns]

In [8]:
#removing duplicates

df.drop_duplicates(inplace=True)

In [9]:
df.shape

(1359, 1)

In [12]:
df.dropna()

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1      7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2     7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3     11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
5     7.4;0.66;0;1.8;0.075;13;40;0.9978;3.51;0.56;9.4;5
...                                                 ...
1593  6.8;0.62;0.08;1.9;0.068;28;38;0.99651;3.42;0.8...
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

[1359 rows x 1 columns]

In [13]:
#co-relation among the features

df.corr()

ValueError: could not convert string to float: '7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5'

In [14]:
print(df.dtypes)

fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    object
dtype: object

In [15]:
numeric_df = df.select_dtypes(include=['number'])
correlation = numeric_df.corr()

In [ ]:
numeric_df.corr()

Empty DataFrame
Columns: []
Index: []